<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3>Contact Us</h3>
      <p>Azatutyan 24/17 <br/> Yerevan, AM</p>
      <p>Phone: (+374) 43-477-447</p>
      <p>Email: info@picsart.academy</p>
    </div>
    <div class="footer-section">
      <h3>Library Hours</h3>
      <p>Monday - Friday: 9am - 5pm</p>
      <p>Saturday: 10am - 4pm</p>
      <p>Sunday: Closed</p>
    </div>
    <div class="footer-section">
      <h3>Helpful Links</h3>
      <ul>
        <li><a target="_blank" href="https://picsartacademy.am">Academy Website</a></li>
        <li><a target="_blank" href="https://www.instagram.com/picsart__academy">Instagram</a></li>
        <li><a target="_blank" href="https://www.linkedin.com/company/picsart-academy">Linkedin</a></li>
        <li><a target="_blank" href="https://www.youtube.com/@PicsartAcademy">Youtube</a></li>
      </ul>
    </div>
    
  </div>
  <div class="footer-copyright">© 2024 Picsart Academy. All rights reserved</div>
</footer>
