<header  class="header">
  <nav class="nav-bar">
      <a href="/" class="logo">
          <img src="images/logo.png" alt="Logo">
      </a>
      <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/catalog">Catalog</a></li>
          <li><a href="/login">Login/Register</a></li>
      </ul>
  </nav>
</header>